.BoldBtn{
    box-sizing: border-box;
    position: relative;
    width: 80%;
    max-width: 240px;
    margin: 20px 0;
    padding: 2% 7%;
    font-size: 1.4rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    border: 2px solid var(--accent-blue);
    border-radius: 5px;
    color: var(--accent-blue);
    /* color: var(--background-default); */
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all 350ms ease-in-out;
}
.Btn-text{
    position: relative;
    z-index: 1;
}
.BoldBtn:hover{
    color: var(--background-default);
    cursor: pointer;
}
.btn-arrow{
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 10px;
    transform: rotateZ(90deg);
}
.shutter{
    position: absolute;
    z-index: 0;
    height: 157%;
    width: 170%;
    background-color: var(--accent-blue);    
}

.shutter-tl{
    left: -170%;
    transform: rotateZ(205deg);
    transition: all 250ms ease-in-out;
}
.shutter-br {
    left: 110%;
    transform: rotateZ(25deg);
    transition: all 250ms ease-in-out;
}
.BoldBtn:hover>.shutter-tl{
    left: -63%;
}
.BoldBtn:hover>.shutter-br {
    left: 20%;
}