.Hero {
    padding-top: 70px;
    color: var(--font-default);
}
.Hero-head {
    font-size: 1.2rem;
    font-family: "Space Mono",monospace;
    color: var(--accent-blue);
}
.Hero-name {
    font-size: 5.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 2%;
}
.Hero-body-header{
    width: 80%;
    font-size: 2.6rem;
    font-family: 'Ubuntu', sans-serif;
    color: var(--font-default) ;
    font-weight: 600;
    opacity: 0.7;
    margin-bottom: 2%;
}
.rubber {
    display: inline-block;
}
.rubber:hover{
    color: var(--accent-default);
}
.awesome {
    font-family:  Courier, monospace;
    color: var(--accent-default);
    opacity: 1;
    height: 100%;
    width: 30%;
    font-weight: 400;
    font-size: 2.5rem;
    margin: 0 10px;
    position: relative;
    transition: all 300ms ease-in-out;
}
.awesome-hovered{
    cursor: pointer;
    font-weight: 600;
    color: var(--accent-blue);
    transition: all 300ms ease-in-out;
}
.rubber-bounce {
    animation: rubberband 800ms alternate ease-out;
}

@keyframes rubberband {
    0%{
        transform: scaleX(1);
    }
    40%{
        transform: scaleX(1.12) scaleY(0.75);
    }
    55%{
        transform: scaleX(0.85) scaleY(1);
    }
    65%{
        transform: scaleX(1.09) scaleY(0.85);
    }
    75%{
        transform: scaleX(0.9)  scaleY(1);
    }
    90%{
        transform: scaleX(1.05) scaleY(0.95);
    }
    100%{
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes bouncing {
    0%{
        top : 5px;
        transform: scaleX(1.15) scaleY(0.7);
    }
    100%{
        top: -30px;
        transform: scaleX(1) scaleY(1);
    }
}