/*
font-family: 'Audiowide', cursive;
font-family: 'Baloo Da 2', cursive;
font-family: 'Black Ops One', cursive;
*/
:root {
  /* rich-black-fogra-29 */
  --background-default: #0d1a2f; 
  --accent-blue: #6cfff8;
  --font-default: #ebfdf6;
  --font-light: #d9ebe4d3;
  --accent-default: #fffb1b;
  --fiery-rose: #f45b69ff;
}

html,body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-default);
  width: 100vw;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
